@media (max-width: 815px) {
    .info h1 {
        font-size: 2.5rem;
    }

    .block2 img {
        width: 300px;
    }
}

@media (max-width: 730px) {
    .link--container {
        width: 150px;
    }
}

@media (max-width: 900px) and (min-width: 100px){

    .wideScreen {
        display: none;
    }
    .mobileScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110vh;
    }

    .links {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: 3px 7px 4px rgba(0, 0, 0, 0);
        cursor: pointer;
    }

    .info-img {
        display: none;
    }
    
}