* {
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    /* background-color: rgb(215, 215, 215); */
    background-color: black;
    overflow-x: hidden;
    color: white;
}

/* Loader */
.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderImg {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
    
}

/* WideScreen Nav */
#nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 40px;
    z-index: 110;
    transition: all .5s linear;
}

.navBlack {
    background-color: rgba(20, 20, 20, 0.952);
    transition: background-color .5s linear;
}

.logo img{
    filter: invert(1);
    width: 50px;
}

.pages {
    display: flex;

}

.pages a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

.last--list {
    color: black;
}

.pages ul{
    color: white;
    font-size: .8rem;
    font-weight: bold;
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.pages ul li:last-of-type {
    color: black;
    background-color: rgb(255, 136, 0);
    border-radius: 8px;
    padding: 12px 10px;
}

/* Mobile Screen Nav */

#mobile--nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px;
    z-index: 100;
}

.menu-off {
    padding: 1.5rem;
}

.menu-off div:last-of-type {
    display: none;
}

.menu-off div:first-of-type {
    transform: rotate(38deg);
}

.menu-off div:nth-of-type(2) {
    transform: rotate(313deg);
}

.drop-menu {
    position: absolute;
    right: 0;
    top: 0rem;
    width: 80vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.952);
    animation: menuSlide .5s linear;
}

@keyframes menuSlide {
    from {width: 0vw;}
}

.drop-menu ul {
    padding-top: 3rem;
}
.drop-menu li {
    list-style: none;
    padding: 1rem 0rem;
}

.drop-menu a {
    text-decoration: none;
    color: white;
}



.visible-off {
    display: none;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.mobile--menu {
    background-color: white;
    width: 2rem;
    height: 2px;
}

/* Header for WideScreen*/
.header--container {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.block--container {
    display: flex;
    align-items: center;
    padding: 0px 60px;
}

/* .block2 {
    padding-top: 70px;
} */

.block1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* min-width: 560px; */
    animation: SlideFromLeft 1s linear;
    /* background-color: rgba(215, 215, 215, 1); */
    /* width: 50%; */
}

@keyframes SlideFromLeft {
    from {transform: translate(-100%, 0px);}
    to {transform: translate(0px, 0px);}
}

.available {
    background: linear-gradient(45deg, #870000, rgb(255 136 0 / 15%));
    padding: 4px 8px;
    border-radius: 100px;
}

.available p {
    margin: 0;
}


.name {
    color: rgb(255, 136, 0);
}
.block2 {
    flex: 1;
}

.info h1, .info h2 {
    margin: 0;
}

.info h1 {
    font-size: 3.5rem;
}

.info h2 {
    font-size: 2.5rem;
}


.info p:nth-of-type(2) {
    max-width: 90%;
    line-height: 32px;
}


/* .info div:first-of-type {
    max-width: 80%;
} */

.block2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
}

.rotate, .rotateSecond{
    position: absolute;
    height: 30%;
    width: 30%;
    border: dotted 3px rgb(104, 104, 104);
    border-radius: 300px;
    z-index: 98;
    animation: rotate 30s linear infinite;
}

.rotate:first-of-type {
    left: 10%;
    top: 30%;
}

.rotate:nth-of-type(2) {
    height: 40%;
    width: 40%;
    left: 15%;
    top: 35%;
}
.rotate:last-of-type {
    height: 30%;
    width: 30%;
    left: 20%;
    top: 40%;
}

.rotateSecond:first-of-type {
    right: 15%;
    top: 30%;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
    
}

.rotateSecond:nth-of-type(2) {
    height: 40%;
    width: 40%;
    right: 20%;
    top: 35%;
}
.rotateSecond:last-of-type {
    height: 30%;
    width: 30%;
    right: 25%;
    top: 40%;
}

.frontRotate {
    position: absolute;
    left: 32%;
    top: 38%;
    height: 40%;
    width: 40%;
    border: dotted 3px rgba(104, 104, 104, 0);
    border-radius: 300px;
    z-index: 100;
    animation: rotate 30s linear infinite;
}

.skill {
    position: absolute;
    margin: 0;
    width: fit-content;
    color: white;
    /* background-color: black; */
    backdrop-filter: blur(2px);
    padding: 4px 15px;
    box-shadow: inset #ffffff 2px 3px 4px 0px;
    border-radius: 10px;
    animation: norotate 30s linear infinite;
}

.skill:first-of-type {
    left: 50%;
}
.skill:nth-of-type(2) {
    right: -10%;
    top: 20%;
}
.skill:nth-of-type(3) {
    right: -8%;
    top: 60%;
}
.skill:nth-of-type(4) {
    right: 25%;
    bottom: 0;
}
.skill:nth-of-type(5) {
    left: 0%;
    bottom: 5%;
}
.skill:nth-of-type(6) {
    left: -20%;
    bottom: 25%;
}

@keyframes norotate {
    to {
        transform: rotate(-360deg);
    }
    
}

.block2 img {
    width: 70%;
    height: auto;
    animation: SlideFromRight 1s linear;
    z-index: 99;
    filter: saturate(.8);
}

@keyframes SlideFromRight {
    from {transform: translate(100%, 0px);}
    to {transform: translate(0px, 0px);}
}

.link--container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    width: 200px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.links img {
    filter: invert(1);
    width: 100%;
}

.berries {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 20vh;
    color: white;
    padding: 20px 60px;
    clip-path: view-box;
    justify-content: space-between;
}

.berries--content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 80%;
    gap: 40px;
}

.berries--content .details {
    text-align: center;
}

.berries--content h2, .berries--content p {
    margin: 0;
    font-size: 2.5rem;
}

.berries img {
    filter: invert(.1);
    width: 250px;
}

/* Header for mobileScreen*/
.mobileScreen {
    display: none;
    margin-top: -98px;
    padding-top: 100px;
    height: 100vh;
    background-image: url(../public/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.details--display {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info--display {
    text-align: center;
    color: white;
}

.info--display h1 {
    margin: 0;
    font-size: 2.5rem;
}

.info--display h3, .info--display h4 {
    margin: 0;
}
.social--display {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social--display img {
    width: 80%;
}



/*About*/
.section--about {
    background-color: aliceblue;
    color: black;
    padding: 80px 30px;
}

.section--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section--about .section--container img {
    filter: none !important;
}

.section--container img {
    filter: invert(1);
}

.about--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    padding: 30px 0px;
    min-width: 70vw;
}

.info-container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.info-container .info-img {
    background-color: rgb(119, 126, 133);
    border: groove 15px white;
    box-shadow: 2px 2px 5px black;
    flex: 2;
}

.info-container .info-img img {
    width: 110%;
}

.info-container  .info-details {
    text-align: start;
    flex: 4;
}

.about-details-container {
    display: flex;
    gap: 30px;
}

.about-bio-container {
    display: flex;
}

.about-bio-container p {
    font-weight: bold;
}

.about-bio-container p span {
    font-weight: normal;
}

.about-bio a {
    color: white;
    text-decoration: none;
}

.about-bio button {
    color: black !important;
    background-color: rgb(1, 1, 7) !important;
    border-radius: 8px !important;
    padding: 12px 10px !important;
}

.about--container h1, .skills-header, .contact--heading {
    border-style: solid;
    border-width: 5px;
    padding: 10px 30px;
    max-width: fit-content;
    font-size: 1.5rem;
}

.about--container p{
    font-size: .9rem;
    line-height: 20px;
}

.explore--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.explore--container img {
    /* filter: invert(1.5); */
}

.explore--title {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    padding: 5px 20px;
}

.details--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    /* max-width: 62.5rem; */
    padding: 40px 20px;
}

.details {
    max-width: 450px;
    position: relative;
}

.details h1 {
    font-size: 1.5rem;
}

.details p {
    font-size: .9rem;
}

.details img {
    position: absolute;
    top: -5px;
    left: -50px;
    width: 60px;
}

/* Skills */
.section--skills {
    padding: 20px 40px; 
}

.using--container, .learning--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 70.5rem;
    padding: 40px 0px;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program img {
    width: 60px;
    height: 70px;
}

/* PORTFOLIO */
.section--portfolio {
    background-image: url('../public/images/image12.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio--container {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}

.portfolio--header {
    align-self: center;
}

.portfolio--header h1 {
    border-style: solid;
    border-width: 6px;
    padding: 15px 80px;
}

.portfolio--display {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(26, 26, 26, 1);
    margin: 50px 0px;
}

.portfolio--display p:first-of-type {
    align-self: center;
    text-align: center;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 15px;
}

.portfolios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.portfolios--img {
    position: relative;
}

.portfolios--img:hover {
    .over--portfolio {
        visibility: visible;
    }
}

.portfolios--img img{
    width: 100%;
}

.over--portfolio {
    visibility: hidden;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.644);
}

.over--portfolio p {
    border: none !important;
    font-style: italic;
}

.over--portfolio p:last-of-type {
    font-style: normal;
}

.over--portfolio h2 {
    margin: 0;
}

.over--portfolio button {
    color: white;
    font-size: larger;
    cursor: pointer;
    border: solid 2px white;
    border-bottom: none;
    border-top: none;
    transition: all .2s linear;
}

.over--portfolio button:hover {
    color: black;
    background-color: whitesmoke;
    border: solid 2px white;
    padding: 5px 20px;
}

.end--p {
    align-self: center;
}

/* CONTACT */
.contact--info  {
    text-align: center;
    padding: 20px 0px;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    gap: 40px;
}

input, textarea {
    background-color: transparent;
    font-family: sans-serif;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-top: none;
    border-right: none;
}

input:focus,
textarea:focus {
    outline-style: none;
}

input::placeholder, textarea::placeholder {
    color: aliceblue;
}

textarea {
    resize: none;
    color: white;
}

button {
    color: white;
    align-self: center;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-top: none;
    border-bottom: none;
    padding: 5px 15px;
    font-weight: bold;
}

/* footer */
footer {
    padding: 20px 20px;
    margin-top: 40px;
    background-color: rgba(26, 26, 26, 1);
    color: white;
}

.footer--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.move--up {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}

.move--up p {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
}

.footer--social {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0px;
}

.footer--social img {
    width: 40px;
}

.copyright {
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright span {
    font-weight: normal;
}